<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8"/>
    <style>
        #name, #age {
            width: 180px;
        }
    </style>
</head>
<body>
<h1>Добавление пользователя</h1>
<form action="postUser" method="POST">
    <label for="name">Имя</label><br>
    <input name="name" id="name"/><br><br>
    <label for="age">Возраст</label><br>
    <input name="age" type="number" id="age" min="1" max="110"/><br><br>
    <input type="submit" value="Отправить"/>
</form>
<br>
<a href="/users">К списку пользователей</a>
</body>
<html>